.Navbar{
  display: flex;
  justify-content: center;
  gap:10px;
  list-style-type: none;
  position: fixed;
  top:0;
  left: 0;
  background-color: #fff;
  height: 45px;
  right: 0;
  align-items: center;
  z-index: 1;
}

.Navbar li::after{
  content: "|";
  margin-left: 10px;
}

.Navbar li:last-child::after{
  content: "";
  margin-left: 0;
}